<?xml version="1.0" encoding="utf-8"?><?workdir /C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\temp\pdf\topic?><?workdir-uri file:/C:/Users/jeff.ruby/Desktop/DITA/exersice/flowers/temp/pdf/topic/?><?path2project ..\?><concept xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/" id="concept_kcx_mgr_5cb" ditaarch:DITAArchVersion="1.2" domains="(topic concept)                            (topic hi-d)                             (topic ut-d)                             (topic indexing-d)                            (topic hazard-d)                            (topic abbrev-d)                            (topic pr-d)                             (topic sw-d)                            (topic ui-d)    " class="- topic/topic concept/concept " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="concept:1">
 <title class="- topic/title " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="title:1">Spring Flowers</title>
 <shortdesc class="- topic/shortdesc " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="shortdesc:1"/>
 <conbody class="- topic/body  concept/conbody " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="conbody:1">
  <p class="- topic/p " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="p:1">Spring Time, the time of growth and renewal of new plant and animal life. Spring comes at
   different times in the North and South Hemispheres. Spring time in the Northern hemisphere is
   between March - May, and between September - November in the Southern hemisphere. Most flowering
   plants bloom during spring time. Therefore, flowers that bloom only during spring, Spring
   Flowers, bloom at different times in the two hemispheres. </p>
  <p class="- topic/p " xtrf="C:\Users\jeff.ruby\Desktop\DITA\exersice\flowers\topic\Spring Flowers.dita" xtrc="p:2">Some of the flowers blooming in Spring are: Agapanthus, Amaryllis, Anemone, Apple blossom, Bird
   of Paradise, Brodea, Calla lily, Cherry Blossom, Corn flower, Cosmose, Dahlia, Delphinium,
   Delwood, Forsythia, Freesia, Gardenia, Heather, Helleborus, Hollyhock, Hyacinth, Larkspur, Casa
   Blanca Lily, Gloriosa Lily, Stargazer, Liatrus, Lilac, Lisianthus, Narcissus, Orchid, Peach
   blossom, Peony, Phlox, Poppy, Protea, Pussy willow, Ranunculus, Rose, Seeded Eucalyptus,
   Solidago, Statice, Stephanotis, Stock, Sweet Pea, Tulip, Viburnum, Wax flower, Zinnia.</p>
 </conbody>
</concept>